@charset "utf-8";
/* CSS Document */

html {
	padding:0;
	margin:0;
}

body {
	background-repeat: repeat-x;
	background-image:url(../img/p2cool-bg-1.1.jpg);
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	color:#FFF;
	font-size: 10px;
	background-color: #08111f; /*  656A72 */
	margin: 0;
}
form input {
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	background: #FFFFFF;
	border: 0;
	height: 17px;
}


form .shortbox {
	width: 60px;
}
form .medbox {
	width: 70px;
}
.smalltxt {
	font-size: 9px;
	color: #B4B7BB;
}

#MainContainer {
	height: 550px;
	width: 820px;
	background:url(../img/p2pool2.png);
	background-repeat:no-repeat;
	margin-top: 10px;
}
#LocalGraphSelector div img {
	cursor: pointer;
}
#PoolGraphSelector div img {
	cursor: pointer;
}


#apDiv0 {
	background-repeat:no-repeat;
	position:relative;
	width:820px;
	height:550px;
	padding: 0;
	margin: 0;
	z-index: 10;
	display: none;
}
#apDiv0 #userInput {
	position: absolute;
	height: 100px;
	width: 300px;
	left: 50%;
	top: 50%;
	text-align: center;
	margin-left: -150px;
	margin-top: -65px;
	font-size: 12px;
	/*border: 5px dotted #f44;*/
}
#apDiv0 #userInput form input {
	margin-bottom:5px;
	text-align:center;
	color:#722;
	margin-top: 5px;
}

#apDiv1 {
	position: relative;
	height: 550px;
	width: 820px;
	display: none;
}
#apDiv1 #tools {
	position: absolute;
	right: 20px;
	top: 45px;
	text-align: right;
	width: 140px;
	font-size: 9px;
	word-wrap:break-word;
}
#apDiv1 #tools #refreshControl{

	position:absolute;
	top:0;
	right:0;
}



#apDiv1 #heads {
	margin: 10px 10px 0 10px;
	font-size: 16px;
	width: 390px;
	text-align: right;
	float: left;
	font-weight: bold;
}

#apDiv1 #tails {
	margin: 10px 10px 0 10px;
	font-size: 16px;
	width: 390px;
	float: left;
	font-weight: bold;
}
#apDiv1 #dispWal {
	position: absolute;
	top: 15px;
	right: 15px;
}
#apDiv1 #upTime {
	position: absolute;
	top: 275px;
	right: 170px;
}


#apDiv1 #MainGraph {
	position: absolute;
	left: 50%;
	top: 290px;
	margin-left: -240px;
	width: 481px;
}
#apDiv1 #MainGraph #LocalGraphSelector{
	width: 100px;
	height: 163px;
	position:absolute;
	left: -110px;
	top: 0px;
	text-align: center;
	font-weight: bold;
}
#apDiv1 #MainGraph #PoolGraphSelector {
	width: 100px;
	height: 163px;
	position:absolute;
	right: -110px;
	top: 0px;
	text-align: center;
	font-weight: bold;
}



#apDiv1 #Console {
	position:absolute;
	bottom: 15px;
	left: 15px;
	z-index:50;
}
#apDiv1 #Console .console {
	width: 580px;
	font-size: 10px;
	height: 60px;
	font-family: "Courier New", Courier, monospace;
	background: #383F49;
	color: #CCC;
	border: 0;
}

#console {
	overflow-y: scroll;
	outline:none;
}

#picks{
	position:absolute;
	top:-36px;
	height:36px;
	left:90px;
}
#picks .pick {
	height:36px;
	width:32px;
	margin-left:-20px;
	background:url("../img/gold-pick.png");
	display:block;
	float:left;
}

.statline {
	margin-bottom: 10px;
}

.inline {
	display: inline;
}

.leftstat {
	width: 390px;
	margin: 10px;
	float: left;
	text-align:right;
}
.rightstat {
	width: 390px;
	margin: 10px;
	float:left;
}
.righttxt {
	text-align: right;
}


#g-holder {
	height:300px;
	position:absolute;
}

#g-holder #controls{
	display:none;
	position:absolute;
	top:250px;
	left:184px;
}
  
#canvasDiv{
	width:250px;
	height:250px;
	position:absolute;
	top:0px;
	left:20px;
	z-index:10;
}  
#x-label{
	position:absolute;
	z-index:2;
	top:185px;
	left:220px;
	font-size:10px;
}  
  
#y-label{
	position:absolute;
	z-index:2;
	top:20px;
	left:70px;
	font-size:10px;
}  
  
#z-label{
	position:absolute;
	z-index:2;
	top:250px;
	left:-5px;
	font-size:10px;
}  
  
#gInfo div.gText{  
    position:absolute;  
    z-index:-1;  
    font:normal 10px Arial;  
}

  /*------------*/
 /*Spin Control*/
/*------------*/

.spinInput, .spinContainer
{
  /* Change this to modify the default spin control background color*/
  background-color: #FFFFFF;
}

.spinLeftRightEdge, .spinTopBottomEdge
{
  position: absolute;
  overflow: hidden;
  /* Change this to modify the default spin control border color*/
  background-color: #CDCFD2;
}
  
.spinContainer
{
  font-size: 0px;
  height: 20px;
}

.spinLeftRightEdge
{
  height: 20px;
  width: 1px;
}

.spinTopBottomEdge
{
  height: 1px;
  left: 1px;
}

.spinInput
{
  position: absolute;
  top: 1px;
  left: 1px;
  height: 16px;
  border: 0px;
  /* Change this to modify the default spin control font, font color, and font size*/
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	background: #CDCFD2;
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress, .spinDownBtn, .spinDownBtnHover, .spinDownBtnPress
{
  position: absolute;
  width: 15px;
  height: 8px;
  right: 2px;
  background-image: url('../img/spin_control_buttons.png');
  background-repeat: no-repeat;
  /* Change this to modify the default button color*/
  background-color: #000000;
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress
{
  top: 2px;
}

.spinDownBtn, .spinDownBtnHover, .spinDownBtnPress
{
  top: 10px;
}

.spinUpBtn
{
  background-position:0px 0px;
}

.spinUpBtnHover
{
  background-position:0px -16px;
}

.spinUpBtnPress
{
  background-position:0px -32px;
}

.spinDownBtn
{
  background-position:0px -8px;
}

.spinDownBtnHover
{
  background-position:0px -24px;
}

.spinDownBtnPress
{
  background-position:0px -40px;
}
